# Build results
[Dd]ebug/
[Hh]olographDemo/[Dd]ebug/
[Hh]olographDemo/[Hh]olographDemo/[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Ll]og/
HolographDemo/HolographDemo.VC.db
HolographDemo/HolographDemo.VC.VC.opendb
.suo
*.suo
*.obj